@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@import '@openmrs/esm-styleguide/src/vars';

.sectionTitle {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
  margin: 0 0 layout.$spacing-03 0;
  flex-basis: 30%;
}
.billService {
  padding: 1rem 0.75rem;
}

.sectionField {
  flex-basis: 70%;
}
.billableList {
  background-color: $ui-02;
  max-height: 14rem;
  overflow-y: auto;
  border: 1px solid $ui-03;

  li:hover {
    background-color: $ui-03;
  }
}
